<link rel="import" href="/../../thirdParty/bower_components/polymer/polymer.html">
<link rel="import" href="/../../thirdParty/bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="/../../thirdParty/bower_components/paper-header-panel/paper-header-panel.html">
<link rel="import" href="/../../thirdParty/bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="/../../thirdParty/bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="/../../thirdParty/bower_components/iron-icons/iron-icons.html">
<link rel="import" href="/../../thirdParty/bower_components/paper-menu/paper-menu.html">
<link rel="import" href="/../../thirdParty/bower_components/paper-item/paper-item.html">

<dom-module id="custom-side-navigation">

	<template>
		<paper-header-panel>
			<paper-toolbar>
				<div>Not</div>				
			</paper-toolbar>
			<paper-menu>
				<paper-item>Home</paper-item>
				<paper-item>About</paper-item>
				<paper-item>Contact</paper-item>
			</paper-menu>
			<div> Copyright </div>
		</paper-header-panel>
	</template>

	<script src="custom-side-navigation.js"></script>
</dom-module>