<link rel="import" href="/../../thirdParty/bower_components/polymer/polymer.html">
<link rel="import" href="/../../thirdParty/bower_components/paper-drawer-panel/paper-drawer-panel.html">
<link rel="import" href="/../../components/custom-navigation-bar/custom-navigation-bar.html">
<link rel="import" href="/../../components/custom-side-navigation/custom-side-navigation.html">
<link rel="import" href="/../../thirdParty/bower_components/paper-drawer-panel/paper-drawer-panel.html">
<link rel="import" href="/../../thirdParty/bower_components/iron-flex-layout/iron-flex-layout.html">

<dom-module id="custom-base">
	<template>
		<paper-drawer-panel id="navigationPanel">
			<custom-navigation-bar id="navigationToolBar" is-menu-active={{isMenuActive}} main></custom-navigation-bar>
			<custom-side-navigation id="sideNavigationBar" drawer></custom-side-navigation>
		</paper-drawer-panel>
	</template>

	<script src="custom-base.js"></script>
</dom-module>