<link rel="import" href="/../../thirdParty/bower_components/polymer/polymer.html">
<link rel="import" href="/../../thirdParty/bower_components/paper-drawer-panel/paper-drawer-panel.html">
<link rel="import" href="/../../components/custom-navigation-bar/custom-navigation-bar.html">
<link rel="import" href="/../../components/custom-side-navigation/custom-side-navigation.html">
<link rel="import" href="/../../thirdParty/bower_components/paper-drawer-panel/paper-drawer-panel.html">
<link rel="import" href="/../../thirdParty/bower_components/iron-flex-layout/iron-flex-layout.html">

<dom-module id="custom-base">
	<style>
		paper-drawer-panel {
			--paper-drawer-panel-main-container: {
				width: 100%;
				height: 100%;
			};

			--paper-drawer-panel-left-drawer-container: {
				height: 100%;
			};
		}

		paper-drawer-panel {
			--custom-toolbar-shadows: {
				box-shadow: none;
			};
		}

		#drawer {
			width: 30px;
		}

	</style>

	<template>
		<paper-drawer-panel id="navigationPanel" drawer-width="200px">
			<custom-navigation-bar main></custom-navigation-bar>
			<custom-side-navigation drawer></custom-side-navigation>
		</paper-drawer-panel>
	</template>

	<script src="custom-base.js"></script>
</dom-module>